<div class="text-center">
    <h2>{{name}} <span>Posted by {{user.name}} on {{format_date date_created}}</span></h2>
    <p>{{description}}</p>

    <p>
        <button class="btn btn-secondary">Blog</button>
    </p>
</div>