
/* .blog:not(:last-child) */
header {
    border-bottom: 1px solid #ccc;
}

.no-button {
    cursor: pointer;
    color: #F0FFF0;

}

.no-button:hover {
    color: #99e499;
    text-decoration: none;
}

.clr{
    background-color: #2b1a1a;
    min-height:160px;
}
body{
    background: #F0FFF0;
}
h1 a{
    background:#F0FFF0;
    padding: 1px;
    margin: 1.5rem;
    border-radius: 8px;
    color:#2b1a1a;
    box-shadow: 5px 5px #8c8d8c;
    font-weight: 600;
}
h1 a:hover{
    background: #bfe2bf;
    color: #a98989;
}

.blog-title{
    background-color: #2b1a1a;
    color:#737773
}
.blog-title p{
    display:flex;
    justify-content: flex-end;
    font-size: 1rem;
}
.blog{
    border: 2px solid #2b1a1a;
    margin: 10px;
    color: #2b1a1a;
}
.row{
    margin:0;
}
h2 a {
    color: #737773;
}
h2 a:hover , h1 a:hover, .blog-title:hover{
    color: #F0FFF0;
    text-decoration: none;
}
.blog-content p{
    color:#2b1a1a;
    font-size: 1rem;
}